<div id="createRibbit" class="panel right">
    <h1> </h1>
    <p>
    <form>
        <textarea name="text" class="ribbitText"></textarea>
        <input type="submit" value="Submit">
    </form>
    </p>
</div>
<div id="ribbits" class="panel left">
    <h1>Your Moviebus  Profile</h1>
    <div class="ribbitWrapper">
        

        
    </div>
</div>
<div class="panel left">
    <h1>Your Comments</h1>
    <div class="ribbitWrapper">
        
    </div>
</div>
