<!DOCTYPE html>
<html>
<%= javascript_include_tag :defaults %>
<head>
    <link rel="stylesheet/less" href="/style.less">
    <script src="/less.js"></script>
	<h1> <span style="color:green;margin-left:250px;">Movie Bus</span> </h1>
</head>
<body>
    
    <div id="content">
        <div class="wrapper">
            <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: "flash #{name} " %>
            <% end %>
            <%= yield %>
        </div>
    </div>
    <footer>
        <div class="wrapper">
            Made by Karthika Purushothaman
        </div>
    </footer>
</body>
</html>